



/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Override browser defaults */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
/* Padding and border incldued in an item's total width and height*/
}


/* General Style */
html {
min-height: 100%;
display: flex;
flex-direction: column;
}


body {
flex-grow: 1;
color: #3a3a3a;
display: flex;
flex-direction: column;
font-family: 'Roboto Mono', sans-serif;
}






/*Header */
header {
background-color: white;
width:100%;
padding:0 1rem;
box-shadow: 0 2px 2px #3a3a3a;
position: fixed;
z-index: 99;
display:flex;
justify-content: space-between;
align-items: baseline;


}
header a {
text-decoration: none;
color: inherit;
}


#logo{
font-family: 'Oswald',sans-serif;
text-transform: uppercase;
color:#252525;
letter-spacing: 2px;
margin-bottom: 1.1rem;
}


#menu{
font-size:110%;
letter-spacing: 4px;
list-style: none;
}


#menu li{
margin-bottom: 1.1rem;
}


.active{
border-bottom: 1px solid #3a3a3a;
}
/*Navbar styles with dropdown toggle */
nav{
position:absolute;
background-color: white;
width:100%;
padding:0 1rem;
box-shadow: 0 2px 2px #3a3a3a;
left:0;
display: none;
top:100%;
}


/* Nav toggle */
#nav-toggle:checked~nav{
display:block;
}


#nav-toggle{
display: none;
}


.nav-toggle-label{
font-size: 2rem;
}
/* Main content */
main {
background-color: lightblue;
flex: 1 0 auto;
margin-top: 47px;
}


/* Footer */
footer {
background-color: lightgoldenrodyellow;


}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {
/* Header */
nav {
display: block;
position: relative; /* back isnide the header */
box-shadow: none;
width: fit-content;
padding-right: 1rem;


}
#menu{
display: flex;
}
#menu > li{
padding-left: 1rem;
}
.nav-toggle-label{
display:none;
}
#logo{
font-size: 280%;
line-height: 75px;
margin:0 0.5rem;
}
/* Main */
main{
margin-top: 81px;
}
}
/* Media query: laptops (992px and up) */
@media screen and (min-width:992px) {
a:hover{
border-bottom: 1px solid #3a3a3a;
}
}





