/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Padding and border incldued in an item's total width and height*/
}

/* General Style */
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', sans-serif;
}



/*Header */
header {
    background-color: white;
    width:100%;
    padding:0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    position: fixed;
    z-index: 99;
}
header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    color:#252525;
    letter-spacing: 2px;
}

#menu{
    font-size:110%;
    letter-spacing: 4px;
    list-style: none;
}


/* Main content */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightgoldenrodyellow;

}